﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            padding-top: 60px !important;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <br />
                <div id="usernameRegister">

                    @if (Request.IsAuthenticated)
                    {

                        <strong>
                            @Html.Encode(User.Identity.Name)
                        </strong>
 @Html.ActionLink("Log Out", "Logout", "User")
                    }
                    else
                    {

                        <ul class="nav nav-pills pull-left">@Html.ActionLink("Login", "UserLogin", "User")</ul>

                        <ul>@Html.ActionLink("Register", "UserRegister", "User")</ul>
                    }
                </div>


            </div>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("LogIn", required: false)
    @RenderSection("Registration", required: false)


    @if (Request.IsAuthenticated)
    {
                <div class="span3 offset4 well" style="position: absolute; top: 100px; right: 20px">
                    @Html.Action("ListOfAlbums", "Album")
                </div>
    }


    <br />
    <br />
    <br />
    @if (!Request.IsAuthenticated)
    {

        <h1 align="center">Best Photos</h1>
 @Html.Action("RandomPhoto", "Photo")
        
    }
</body>
</html>
