﻿@model PhotoApp.Models.Photo

@{
    ViewBag.Title = "Adding Photo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddingPhoto</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span4 offset4 well">
                <script src="~/Scripts/jquery-1.8.2.min.js"></script>
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

                @using (Html.BeginForm("AddingPhoto", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "Something goes wrong")
    
                    <fieldset>
                        <legend>Photo</legend>
                        @Html.TextBoxFor(model => model.AlbumId, new { @Value = @ViewBag.AlbumId, @type = "hidden" })
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Name)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <input type="file" name="photoFile" multiple="multiply" />
                        <br />
                        <br />
                        <br />

                        <p>
                            <input type="submit" value="Create" />
                        </p>
                    </fieldset>
                }

            </div>
        </div>
    </div>
</body>
</html>
