﻿@model PhotoApp.Models.Photo[]

@{
    ViewBag.Title = "AlbumPhotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.numberOfPhotosInAlbum > 0)
{
    <!-- Main Area -->
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="span12" id="slider">
                <!-- Top part of the slider -->
                <div class="row">
                    <div class="span8" id="carousel-bounding-box">
                        <div id="myCarousel" class="carousel slide">
                            <!-- Carousel items -->

                            <div class="carousel-inner">
                                <div class="active item" data-slide-number="0">
                                    <img src="@Url.Action("GenerateAlbumImage", "Photo", new { i = 0, albumId = ViewBag.albumId }, null)" alt="Random 0" width ="700" height="500"/>
                                </div>
                                @for (int i = 1; i < ViewBag.numberOfPhotosInAlbum; i++)
                                {
                                    <div class="item" data-slide-number="@i">
                                        <img src="@Url.Action("GenerateAlbumImage", "Photo", new { i = @i, albumId = ViewBag.albumId }, null)" alt="Random @i"  width ="700" height="500"/>
                                    </div>
                                }

                            </div>

                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                        </div>
                    </div>
                    <div class="span4" id="carousel-text"></div>

                    <div style="display: none;" id="slide-content">
                        @for (int i = 0; i < ViewBag.numberOfPhotosInAlbum; i++)
                        {
                            <div id="slide-content-@i">
                                <h2>From @Model[@i].AlbumFolder.AlbumTitle album</h2>
                                <p>@Model[@i].Name</p>
                                <p class="sub-text">Published by @Model[@i].AlbumFolder.User.Name</p>
                                <p>@Html.ActionLink("Delete Photo", "DeletePhoto", "Photo", new { photoId = Model[@i].ImageId }, null)</p>
                                <p>Current rating: @Model[@i].Rating</p>
                                @*//==========================================================*@


                                <p>
                                    <img src="../../Content/Images/EmptyStar.png" alt="Star Rating" id="star+1+@Model[@i].ImageId" height="15" width="15"/>
                                    <img src="../../Content/Images/EmptyStar.png" alt="Star Rating" id="star+2+@Model[@i].ImageId" height="15" width="15"/>
                                    <img src="../../Content/Images/EmptyStar.png" alt="Star Rating" id="star+3+@Model[@i].ImageId" height="15" width="15"/>
                                    <img src="../../Content/Images/EmptyStar.png" alt="Star Rating" id="star+4+@Model[@i].ImageId" height="15" width="15"/>
                                    <img src="../../Content/Images/EmptyStar.png" alt="Star Rating" id="star+5+@Model[@i].ImageId" height="15" width="15"/>
                                </p>
                                <div id="result"></div>
                                @*    //==========================================================       *@

                                <script language="javascript" type="text/javascript" src="../../Scripts/jquery-1.9.1.js"></script>
                                <script language="javascript" type="text/javascript">
                                    $(function () {
                                        $('[id^=star]').mouseover(function () {
                                            giveRating($(this), "FilledStar.png");
                                            $(this).css("cursor", "pointer");
                                        });

                                        $('[id^=star]').mouseout(function () {
                                            giveRating($(this), "EmptyStar.png");
                                        });

                                        $('[id^=star]').click(function () {
                                            $('[id^=star]').unbind("mouseout mouseover click");

                                            // call ajax methods to update database
                                            var id_selector = $(this).attr("id");
                                            var n = id_selector.split("+");

                                            var url = "/Rating/PostRating?rating=" + n[1] + "&imageId=" + n[2];
                                            $.post(url, null, function (data) {
                                                $("#result").text(data);
                                            });
                                        });
                                    });

                                    function giveRating(img, image) {
                                        img.attr("src", "/Content/Images/" + image)
                                           .prevAll('[id^=star]').attr("src", "/Content/Images/" + image);
                                    }
                                </script>
                            </div>
                            
                        }
                    </div>
                </div>

            </div>
        </div>
        <!--/Slider-->

        <div class="row hidden-phone" id="slider-thumbs">
            <div class="span12">
                <!-- Bottom switcher of slider -->
                <ul class="thumbnails">
                    @for (int i = 0; i < ViewBag.numberOfPhotosInAlbum; i++)
                    {
                        <li class="span2">
                            <a class="thumbnail" id="carousel-selector-@i">
                                <img src="@Url.Action("GenerateAlbumImage", "Photo", new { i = @i, albumId = ViewBag.albumId }, null)"  width ="170" height="100"/>
                            </a>
                        </li>
                    }
                    <li class="span2">
                        <a class="thumbnail" id="carousel-selector-100">
                            @Html.ActionLink("Add Photo", "AddingPhoto", "Photo", new { albumId = ViewBag.albumId }, null)
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        jQuery(document).ready(function ($) {

            $('#myCarousel').carousel({
                interval: 5000
            });

            $('#carousel-text').html($('#slide-content-0').html());

            //Handles the carousel thumbnails
            $('[id^=carousel-selector-]').click(function () {
                var id_selector = $(this).attr("id");
                var id = id_selector.substr(id_selector.lastIndexOf("-") + 1);
                var id = parseInt(id);
                $('#myCarousel').carousel(id);
            });


            // When the carousel slides, auto update the text
            $('#myCarousel').on('slid', function (e) {
                var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-' + id).html());
            });

            // keyboard left and right arrow navigation

            $(document.documentElement).keyup(function (event) {
                if (event.keyCode === 37) {
                    // click prev
                    $("#slider a.carousel-control[data-slide='prev']").click();
                } else if (event.keyCode === 39) {
                    // click next
                    $("#slider a.carousel-control[data-slide='next']").click();
                }
            });

        });
    </script>
}
else
{
    <h2>Hm. You have no photos there.</h2>
    @Html.ActionLink("Add Photo", "AddingPhoto", "Photo", new { albumId = ViewBag.albumId }, null)
    <br />
    @Html.ActionLink("Delete Album", "DeleteAlbum", "Album", new { albumId = ViewBag.albumId }, null)
}

