﻿@model PhotoApp.Models.Photo[]

<!-- Main Area -->
<div id="main_area">
    <!-- Slider -->
    <div class="row">
        <div class="span12" id="slider">
            <!-- Top part of the slider -->
            <div class="row">
                <div class="span8" id="carousel-bounding-box">
                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item" data-slide-number="0">
                                <img src="@Url.Action("GenerateImage", "Photo", new { i = 0 }, null)" alt="Random 0" width ="700" height="500"/>
                            </div>
                            @for (int i = 1; i < 6; i++)
                            {

                                <div class="item" data-slide-number="@i">
                                    <img src="@Url.Action("GenerateImage", "Photo", new { i = @i }, null)" alt="Random @i" width ="700" height="500"/>
                                </div>
                            }

                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
                <div class="span4" id="carousel-text"></div>

                <div style="display: none;" id="slide-content">
                    @for (int i = 0; i < 6; i++)
                    {
                        <div id="slide-content-@i">
                            <h2>From @Model[@i].AlbumFolder.AlbumTitle album</h2>
                            <p>@Model[@i].Name</p>
                            <p class="sub-text">Published by @Model[@i].AlbumFolder.User.Name</p>
                            <p>Current rating: @Model[@i].Rating</p>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
    <!--/Slider-->

    <div class="row hidden-phone" id="slider-thumbs">
        <div class="span12">
            <!-- Bottom switcher of slider -->
            <ul class="thumbnails">
                @for (int i = 0; i < 6; i++)
                {

                    <li class="span2">
                        <a class="thumbnail" id="carousel-selector-@i">
                            <img src="@Url.Action("GenerateImage", "Photo", new { i = @i }, null)" alt="Random @i"  width ="170" height="100"/>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {

        $('#myCarousel').carousel({
            interval: 5000
        });

        $('#carousel-text').html($('#slide-content-0').html());

        //Handles the carousel thumbnails
        $('[id^=carousel-selector-]').click(function () {
            var id_selector = $(this).attr("id");
            var id = id_selector.substr(id_selector.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });


        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid', function (e) {
            var id = $('.item.active').data('slide-number');
            $('#carousel-text').html($('#slide-content-' + id).html());
        });

        // keyboard left and right arrow navigation

        $(document.documentElement).keyup(function (event) {
            if (event.keyCode === 37) {
                // click prev
                $("#slider a.carousel-control[data-slide='prev']").click();
            } else if (event.keyCode === 39) {
                // click next
                $("#slider a.carousel-control[data-slide='next']").click();
            }
        });

    });
</script>
