﻿@model PhotoApp.Models.UserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "UserLogin";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="span4 offset4 well">
                <fieldset>
                    <legend>Login Form</legend>

                    <div>@Html.LabelFor(u => u.Name)</div>
                    <div>@Html.TextBoxFor(u => u.Name)
                        @Html.ValidationMessageFor(u => u.Name)
                    </div>

                    <div>@Html.LabelFor(u => u.Password)</div>
                    <div>@Html.PasswordFor(u => u.Password)
                        @Html.ValidationMessageFor(u => u.Password)
                    </div>

                    <input type="submit" value="Log In" />
                </fieldset>
            </div>

        </div>
    </div>
}