﻿@model PhotoApp.Models.UserModelRegistration
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Registration
    {
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Wrong Create Information")

        <div class="container">
            <div class="row">
                <div class="span4 offset4 well">
                    <fieldset>
                        <legend>Create new User</legend>

                        <div class="editor-label">@Html.LabelFor(u => u.Name)</div>
                        <div class="editor-field">@Html.TextBoxFor(u => u.Name)
                            @Html.ValidationMessageFor(u => u.Name)
                        </div>

                        <div class="editor-label">@Html.LabelFor(u => u.Password)</div>
                        <div class="editor-field">@Html.PasswordFor(u => u.Password)
                            @Html.ValidationMessageFor(u => u.Password)
                        </div>
                        <label class="control-label">
                            <img src="@Url.Action("Captcha", "User")" alt="captcha" />
                        </label>
                        <div class="editor-label">@Html.LabelFor(u => u.Captcha)</div>
                        <div class="editor-field">@Html.TextBoxFor(u => u.Captcha)
                            @Html.ValidationMessageFor(u => u.Captcha)
                        </div>
                        <input type="submit" value="Register" />
                    </fieldset>
                </div>
            </div>
        </div>
    }
}
