﻿@model ICollection<PhotoApp.Models.AlbumFolder>

<label>List of albums </label>
<ol>
    @foreach (var item in Model)
    {

        <li>@Html.ActionLink(item.AlbumTitle, "AlbumPhotos", "Photo", new { albumId = item.AlbumId }, null)
        </li>
    }

</ol>
@if (Model.Count == 0)
{

    <label>Create your first album;)</label>
}
@Html.ActionLink("New Album", "NewAlbum", "Album")
