﻿@model PhotoApp.Models.AlbumFolder

@{
    ViewBag.Title = "NewAlbum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="span5 offset3 well">
            <h2>NewAlbum</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Create new album for you, @User.Identity.Name</legend>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.AlbumTitle)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.AlbumTitle)
                        @Html.ValidationMessageFor(model => model.AlbumTitle)
                    </div>

                    <p>
                        <input type="submit" value="Create" />
                    </p>
                </fieldset>
            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
            
        </div>
    </div>
</div>